@import '~/scss/mixins';
@import '~/scss/theming';

.song-title {
  color: inherit;
  text-decoration: none;
}

.current-song {
  border-bottom: 2px solid $primary;
  color: $primary;
  .song-title {
    @include bold;
  }
}

.transitions {
  transition: all 0.2s ease;
}

.clickable {
  cursor: pointer;
}

.album {
  &__info {
    &__flex {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  &__image {
    height: 200px;
    margin-right: 2rem;
    width: 200px;
    min-width: 200px;
    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
  &__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 680px) {
  .album {
    &__info {
      &__flex {
        flex-direction: column;
        align-items: center;
      }
    }
    &__image {
      margin-right: 0;
    }
  }
  .center-flex-on-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
