@import '~/scss/mixins';
@import '~/scss/theming';

ul {
  padding-inline-start: 20px;
}

blockquote {
  font-size: 13px;
  margin: 0;
  margin-bottom: 1rem;
}

.home-header {
  position: relative;
  height: 450px;
  width: 100%;
  overflow: hidden;
  img {
    height: 450px;
    object-fit: cover;
    width: 100%;
  }
  &__img-wrap {
    height: 450px;
    overflow: hidden;
    &:before {
      content: '';
      background-image: linear-gradient(to top, rgba(black, 1), rgba(black, 0));
      position: absolute;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      height: 9999px;
    }
  }
  &__title {
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;

  input {
    flex: 1;
    width: 100%;
  }
  textarea {
    resize: none;
    flex: 1;
    height: 150px;
    width: 100%;
  }
  button {
    width: 100%;
  }
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}

@media screen and (max-width: 680px) {
  .home-header {
    height: 250px;
    &__img-wrap {
      height: 250px;
      object-fit: none;
    }
  }
}
