<div class="container">
  <div class="panel">
    <div class="home-header">
      <div class="home-header__img-wrap">
        <img src="/assets/img/mic-and-interface.jpg" alt="" />
      </div>
      <h1 class="home-header__title">Punkweb</h1>
    </div>
    <div class="panel-body padding">
      <p>Punkweb is a music release platform for amatuer musicians and producers.</p>
      <h4>What can Punkweb offer me as an artist?</h4>
      <ul>
        <li>Unlimited song uploads and streaming.</li>
        <li>Schedule releases for a specific date.</li>
        <li>Add lyrics to your tracks. Let your words be heard.</li>
        <li>List upcoming concerts and events.</li>
        <li>Design and sell merch risk free, without inventory. Keep all your earnings.</li>
        <li><strong>... It's completely free!</strong></li>
      </ul>
      <p>
        Artists on Punkweb can stream their music, inform fans about upcoming events, and sell merch. All in one place!
      </p>
      <h4>Contact Us</h4>
      <form id="contactForm" class="contact-form">
        <blockquote>
          The site is under construction, but we're looking for artists who're interested in joining today.<br />
          Shoot us your email and some brief information about your act and we'll send you an email reply.
        </blockquote>
        <small class="margin-bottom">Replies will be sent to the email entered below.</small>
        <input id="email" class="margin-bottom" type="email" placeholder="Email" />
        <input id="subject" class="margin-bottom" type="text" placeholder="Subject" />
        <textarea id="body" class="margin-bottom" placeholder="Body"></textarea>
        <p id="contactError" class="error-text" style="display: none"></p>
        <button class="button-primary">Send</button>
        <!-- <button class="button-primary" [disabled]="sendDisabled()" (click)="sendContactForm()">Send</button> -->
      </form>
      <p id="contactSuccess" class="success-text" style="display: none"></p>
    </div>
  </div>
</div>
