@import '~/scss/mixins';
@import '~/scss/theming';

.nav {
  background-color: $nav-background;
  position: relative;
  z-index: 10;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  &-spacer {
    flex-grow: 1;
  }

  &-title {
    @include bold;
    color: $default-text-on-dark !important;
    font-family: 'Open Sans';
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-link {
    @include medium;
    cursor: pointer;
    color: $default-text-on-dark !important;
    font-size: 14px;
    margin-left: 16px;

    &-icon {
      margin-right: 4px;
    }
  }
}
