// TODO: Checkboxes
// TODO: Radio Buttons
// TODO: Indeterminate Progress
// TODO: Meters

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $body-background;
  color: $default-text;
  font-family: 'Open Sans';
  font-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: bold;
}

.breadcrumb {
  @include bold;
  background-color: $breadcrumb-background;
  border-radius: 4px;
  color: $breadcrumb-text;
  font-size: 14px;
  list-style: none;
  padding: 1rem;
  margin: 0;
  width: 100%;

  li {
    display: inline;

    a {
      color: $primary;
    }
  }
  li + li:before {
    color: $breadcrumb-text;
    content: '/\00a0';
    margin: 0 0.5rem;
  }
}

.pagination {
  color: $default-text;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

hr {
  background-color: $border;
  border: 0;
  border-radius: 2px;
  color: $border;
  height: 2px;
  width: 100%;
}

img,
iframe {
  max-width: 100%;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 1rem;
  padding: 1rem;
}

figure {
  margin: 2rem 1rem;
}

figcaption {
  font-weight: 300;
}

details,
summary {
  outline: none;
}

a {
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;

  &:link,
  &:visited {
    color: $primary;
  }
  &:hover {
    text-decoration: underline;
  }
}

mark {
  background-color: $oc-yellow-0;
}

pre {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: $default-text;
  margin: 0 1rem;
  padding: 1rem;
}

code {
  color: $default-text;
}

small {
  color: $light-text;
  font-size: 12px;
}

.table-container {
  overflow-x: auto;
}

.border-table {
  tbody {
    tr {
      border-bottom: 2px solid $border;
    }
  }
}

.small-pad-table {
  th,
  td {
    padding: 0.5rem;
  }
}

.no-pad-table {
  th,
  td {
    padding: 0;
  }
}

table {
  background-color: $table-background;
  border: none;
  border-radius: 4px;
  border-collapse: collapse;
  color: $table-text;
  font-family: 'Open Sans';
  outline: none;
  text-align: left;
  margin-top: 1rem;
  min-width: 480px;
  width: calc(100% - 1px); // -1px fixes scroll issue with .table-container

  caption {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  th,
  td {
    padding: 1rem;
  }
  th {
    font-size: 14px;
    &:first-child {
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
    }
  }
  td {
    font-size: 16px;
  }
  thead {
    background-color: $table-header;
    color: $table-header-text;
    a {
      color: $table-header-text !important;
    }
  }
  .header--lg {
    @include bold;
    font-size: 20px;
  }
}

.panel {
  background-color: $panel-background;
  border-radius: 4px;
  color: $panel-text;
  margin-bottom: 2rem;
  margin-top: 2rem;

  &-header {
    align-items: center;
    background-color: $panel-header;
    color: $panel-header-text;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 48px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 2rem;
  }
  &-title {
    color: white;
    font-size: 16px;
    font-weight: 500;

    &--lg {
      @include bold;
      font-size: 20px;
    }
  }
  &-body {
    background-color: $panel-background;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
  }
}

fieldset {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

label {
  font-weight: 300;
  font-size: 14px;
}

legend {
  font-family: 'Open Sans';
  font-weight: 600;
}

input,
select,
textarea {
  background-color: $input-background;
  border: 1px solid $border;
  border-radius: 4px;
  box-shadow: none;
  color: $default-text;
  font-size: 16px;
  outline: none;
  padding: 0.75rem 1rem;
  transition: box-shadow 0.25s ease-in-out;
  @include placeholder(lighten($default-text, 50%));
  &:focus {
    box-shadow: 0 0 1px 1px $primary;
    outline: none !important;
  }
}

option,
optgroup {
  color: black;
}

input[type='color'] {
  padding: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

input[type='range']:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: $oc-gray-2;
}

input[type='range']::-moz-range-track {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type='range']::-moz-range-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type='range']::-ms-track {
  background: transparent;
  border-color: transparent;
  border-radius: 100px;
  border-width: 22px 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  height: 7px;
}

input[type='range']::-ms-fill-lower {
  background: $primary;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type='range']::-ms-fill-upper {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type='range']::-ms-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -3px;
  width: 22px;
}

input[type='range']:focus::-ms-fill-lower {
  background: $primary-hover;
}

input[type='range']:focus::-ms-fill-upper {
  background: $oc-gray-2;
}

input:invalid,
select:invalid,
textarea:invalid {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 6px $error;
  border-color: $error;
}

progress,
progress[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid $oc-gray-4;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: $primary;
  height: 2rem;
}

progress::-ms-fill {
  background-color: $primary;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: $primary;
}

progress::-moz-progress-bar {
  background-color: $primary;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $primary;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin button($background, $color) {
  appearance: none;
  background-color: $background;
  border: 1px solid $background;
  border-radius: 2px;
  color: $color !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  outline: none;
  padding: 0.75rem 1rem;
  min-width: 100px;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: darken($background, 10%);
    border-color: darken($background, 10%);
  }
  &:disabled {
    background-color: $oc-gray-6;
    border: 1px solid $oc-gray-6;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

@mixin button-circle($background, $color, $size) {
  appearance: none;
  background-color: $background;
  border: 1px solid $background;
  border-radius: 50%;
  color: $color !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: calc($size - 7px);
  font-weight: 600;
  outline: none;
  width: $size;
  height: $size;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: mix(black, $background, 10%);
    border-color: mix(black, $background, 10%);
  }
  &:disabled {
    background-color: $oc-gray-6;
    border: 1px solid $oc-gray-6;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

@mixin button-hollow($background, $color) {
  @include button($background, $color);
  background: transparent;
  border: 1px solid $background;
  color: $background !important;
  &:hover {
    background-color: $background;
    color: $color !important;
  }
  &:active {
    background-color: $background;
    color: $color !important;
  }
  &:disabled {
    background-color: transparent;
    border: 1px solid $oc-gray-6;
    color: $oc-gray-7 !important;
  }
}

.button {
  @include button($oc-gray-7, white);
  &-primary {
    @include button($primary, white);
  }
  &-green {
    @include button($oc-green-7, white);
  }
  &-red {
    @include button($oc-red-7, white);
  }
  &-orange {
    @include button($oc-orange-7, white);
  }
}

.button-circle {
  @include button-circle($oc-gray-7, white, 50px);
}

.button-circle--small {
  @include button-circle($oc-gray-7, white, 36px);
  font-size: 16px;
  &-primary {
    @include button-circle($primary, white, 36px);
    font-size: 16px;
  }
}

.button-hollow {
  @include button-hollow($oc-gray-7, white);
  &-primary {
    @include button-hollow($primary, white);
  }
  &-green {
    @include button-hollow($oc-green-7, white);
  }
  &-red {
    @include button-hollow($oc-red-7, white);
  }
  &-orange {
    @include button-hollow($oc-orange-7, white);
  }
}

.button--small {
  @include button($oc-gray-7, white);
  font-size: 12px;
  padding: 0.5rem 0.75rem;
  &-primary {
    @include button($primary, white);
    font-size: 12px;
    padding: 0.5rem 0.75rem;
  }
}

/*
How to style meters cross browser
https://css-tricks.com/html5-meter-element/
*/
