.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-align-center {
    align-items: center;
  }
  &-align-flex-start {
    align-items: flex-start;
  }
  &-align-flex-end {
    align-items: flex-end;
  }
  &-justify-flex-start {
    justify-content: flex-start;
  }
  &-justify-flex-end {
    justify-content: flex-end;
  }
  &-justify-space-around {
    justify-content: space-around;
  }
  &-justify-space-between {
    justify-content: space-between;
  }
  &-1 {
    flex: 1;
  }
  &-2 {
    flex: 2;
  }
  &-3 {
    flex: 3;
  }
  &-4 {
    flex: 4;
  }
  &-5 {
    flex: 5;
  }
  &-6 {
    flex: 6;
  }
  &-7 {
    flex: 7;
  }
  &-8 {
    flex: 8;
  }
  &-9 {
    flex: 9;
  }
  &-10 {
    flex: 10;
  }
  &-11 {
    flex: 11;
  }
  &-12 {
    flex: 12;
  }
}

.full-width {
  width: 100%;
}

/* Alignment classes
*******************************************************************************/
.align-center,
.align-center--all,
.align-center--all * {
  text-align: center !important;
}

.align-left,
.align-left--all,
.align-left--all * {
  text-align: left !important;
}

.align-right,
.align-right--all,
.align-right--all * {
  text-align: right !important;
}

/* Border classes
*******************************************************************************/
.border,
.border-all,
.border-all * {
  border: 1px solid #adb5bd !important;
}

.border-top,
.border-top-all,
.border-top-all * {
  border-top: 1px solid #adb5bd !important;
}

.border-bottom,
.border-bottom-all,
.border-bottom-all * {
  border-bottom: 1px solid #adb5bd !important;
}

.border-right,
.border-right-all,
.border-right-all * {
  border-right: 1px solid #adb5bd !important;
}

.border-left,
.border-left-all,
.border-left-all * {
  border-left: 1px solid #adb5bd !important;
}

/* Padding classes
*******************************************************************************/
$padSize: 1.5rem;
.padding {
  padding: $padSize;
}

.padding-left {
  padding-left: $padSize;
}

.padding-right {
  padding-right: $padSize;
}

.padding-top {
  padding-top: $padSize;
}

.padding-bottom {
  padding-bottom: $padSize;
}

.padding-vertical {
  padding: $padSize 0;
}

.padding-horizontal {
  padding: 0 $padSize;
}

/* Margin classes
*******************************************************************************/
$margSize: 1.5rem;
.clear-margin {
  margin: 0;
}

.margin {
  margin: $margSize;
}

.margin-left {
  margin-left: $margSize;
}

.margin-right {
  margin-right: $margSize;
}

.margin-top {
  margin-top: $margSize;
}

.margin-bottom {
  margin-bottom: $margSize;
}

.margin-vertical {
  margin: $margSize 0;
}

.margin-horizontal {
  margin: 0 $margSize;
}

/* Table classes
*******************************************************************************/
.col-x-sm {
  width: 75px;
}
.col-sm {
  width: 125px;
}
.col-md {
  width: 200px;
}
.col-lrg {
  width: 400px;
}
.col-full {
  width: 100%;
}

@media screen and (min-width: 680px) {
  .hide-on-desktop {
    display: none !important;
  }
  .show-on-desktop {
    display: block !important;
  }
}

@media screen and (max-width: 680px) {
  .hide-on-mobile {
    display: none !important;
  }
  .show-on-mobile {
    display: block !important;
  }
}
