@import 'open-color';

$gray-dker: #121212;
$gray-dk: lighten($gray-dker, 5%);
$gray: lighten($gray-dk, 5%);
$gray-lt: lighten($gray, 5%);
$gray-lter: lighten($gray-lt, 5%);

$primary: $oc-green-9;
$primary-hover: lighten($primary, 5%);
$primary-active: darken($primary, 10%);

$default-text-on-light: $oc-gray-9;
$default-text-on-dark: $oc-gray-3;
$default-text: $default-text-on-dark;
$light-text: #9ca0a5;
$error: $oc-red-7;

$body-background: $gray-dker;

$border: $gray;

$input-background: $gray;

$breadcrumb-background: $gray-dk;
$breadcrumb-text: $default-text-on-dark;

$nav-background: $primary;

$sidebar-background: white;

$panel-background: $gray-dk;
$panel-text: $default-text;
$panel-header: $primary;
$panel-header-text: $default-text-on-light;

$table-background: $panel-background;
$table-text: $panel-text;
$table-header: $panel-background;
$table-header-text: $panel-text;

$modal-background: $gray-dk;
$modal-text: $default-text-on-dark;

$audio-player-background: $gray-dk;
$audio-player-text: $default-text-on-dark;
